<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="net.webservicex.www.SendSMS" value="http://www.webservicex.net/SendSMS.asmx" />
    <add key="localhost.member" value="http://localhost:2806/CorporateSite/member.asmx" />
  </appSettings>
  <connectionStrings>
    <add name="SlickTicket" connectionString="Data Source= 182.50.133.111;Initial Catalog=SAGONI_REALSTATE;uid=SAGONI_REALSTATE1;pwd=SAGONI_REALSTATE1" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="confirm.aspx">
      <error statusCode="404" redirect="admin_login.aspx" />
      <error statusCode="500" redirect="admin_login.aspx" />
      <error statusCode="403" redirect="admin_login.aspx" />
    </customErrors>
    <globalization uiCulture="hi-IN" culture="hi-IN" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#" tempDirectory="G:\PleskVhosts\sagoni.com\tmp1">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms timeout="100" />
    </authentication>
    <sessionState timeout="600" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ctrl" tagName="AdminPanel" src="~/controls/AdminPanel.ascx" />
        <add tagPrefix="ctrl" tagName="SecurityLevels" src="~/controls/security_levels.ascx" />
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
        <add value="admin_login.aspx" />
        <add value="branch_login.aspx" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>